:root {
  --border-color: rgba(0, 0, 0, 0.562);
  --background-color: rgba(214, 243, 253, 0.836);
  --font-color: black;
}

body {
  background-color: var(--background-color);
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  color: var(--font-color);
}

.select {
  margin-left: 10%;
  margin-top: 2%;
  padding-left: 5px;
  border: 1px solid var(--border-color);
  background-color: transparent;
  width: 80%;
}

.inline {
  display: inline-block;
}

.block {
  display: inline-block;
  width: 45%;
}

@media screen and (max-width: 1000px) {
  .block {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .inline {
    display: block;
  }
}

.select-btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid var(--border-color);
  color: var(--font-color);
  background-color: transparent;
  display: inline-block;
}

#reset {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid var(--border-color);
  color: var(--font-color);
  background-color: transparent;
  display: inline-block;
}

table {
  margin-left: 10%;
  margin-top: 20px;
  padding: 5px, 10px;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  width: 80%;
}

th,
td {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 8px;
}

@media screen and (max-width: 100000px) {
  .lang-select {
    position: inherit;
    margin-left: 10%;
  }
}

.button {
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--border-color);
  background-color: transparent;
}
#link {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0;
}

.link:hover {
  border-bottom: 1px solid black;
}

.theme-select {
  position: absolute;
  top: 0%;
  right: 0;
  margin: 1%;
}

.theme-btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid var(--border-color);
  color: var(--font-color);
  background-color: transparent;
  display: inline-block;
}

.input {
  background-color: transparent;
  border: 1px solid var(--border-color);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 20%;
  margin-bottom: 10px;
  color: var(--font-color);
}
